*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #615dad 0%, #ffc8da 100%);
  min-height: 100vh;
  margin: 0;
}
.container {
  overflow: hidden;
  width: 370px;
  margin: 50px auto 50px auto;
  background-color: #283e50;
  border-radius: 10px 10px 0 0;
  color: #ffff;
  font-family: sans-serif;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: lobster;
  font-size: 70px;
  text-align: center;
  margin: 30px;
}
p {
  text-align: center;
  padding: 0 10px 10px 10px;
}
a {
  text-align: center;
  text-decoration: none;
}
.pravidla,
.uvodnistranka {
  background-color: #1fcca4;
  padding: 10px;
  color: #ffff;
  font-family: sans-serif;
  margin-bottom: 1px;
}
.pravidla:hover,
.uvodnistranka:hover {
  background-color: #1cbb96;
}
.zacit-hrat {
  background-color: #0197f6;
  padding: 10px;
  color: #ffff;
  font-family: sans-serif;
}
.zacit-hrat:hover {
  background: #0090e9;
}
.obsah {
  padding: 0 10px;
  line-height: 1.2;
}
ol {
  padding: 10px 40px 0px 60px;
}
li {
  margin-bottom: 15px;
  padding-left: 10px;
}
figcaption {
  font-style: italic;
  text-align: center;
  font-size: 16px;
}
figure img {
  max-width: 100%;
  margin-bottom: 10px;
}
figure {
  margin: 0;
  margin-bottom: 40px;
}
.img {
  max-width: 100%;
  padding: 30px 20px;
}
.icon {
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.hra h2 {
  text-transform: uppercase;
  margin-right: 10px;
}
.hra {
  color: white;
  max-width: 80vmin;
  margin: 0 auto;
  padding-bottom: 60px;
}
.icon-hra {
  filter: invert(100%);
}
.info {
  display: flex;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.hraje {
  display: flex;
  align-items: center;
}
.tlacitka {
  display: flex;
}
.tlacitka a {
  padding: 10px;
  border-radius: 5px;
}
.tlacitka a:first-child {
  background-color: #1fcca4;
}
.tlacitka a:last-child {
  background-color: #0197f6;
  margin-left: 10px;
}
.tlacitka a:first-child:hover {
  background-color: #1cbb96;
}
.tlacitka a:last-child:hover {
  background: #0090e9;
}
.hra-hlavni {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.3);
}
button {
  display: block;
  width: 10%;
  padding-top: 9.5%;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgb(20, 20, 20);
}
button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .img {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  figure {
    flex-basis: 50%;
    margin-bottom: 0;
    padding: 15px;
  }
  .container.wide {
    width: 750px;
    font-size: 1.2em;
  }
}
