body {
  background: linear-gradient(180deg, #615dad 0%, #ffc8da 100%);
  background-size: 100vw 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 50px auto 50px auto;
}
h1 {
  font-family: lobster;
}
